#Yandex authentication token.
YA_DISK_OAUTH_TOKEN=

# Path to local synchronise folder with the '/' in the end.
LOCAL_PATH=

# Synchronisation interval in seconds.
SYNC_TIME_INTERVAL=300

# Please don't change anything below this line.
###############################################

#Path to remote synchronise folder with the '/' in the end.
YA_DISK_PATH=/PythonSyncFolder/

#Scan data file name.
SCAN_FILE=scan

#Yandex disk API url.
YA_DISK_URL=https://cloud-api.yandex.net/v1/disk/